{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>文章列表</title>
    <link href="/static/bin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
   <h1 style="text-align: center ; margin-bottom: 30px">文章列表</h1>
    <table class="table">
      <thead>
        <tr>
          <th>文章标题</th>
          <th>文章作者</th>
          <th>文章时间</th>
        </tr>
      </thead>
      <tbody id="article">

      </tbody>
    </table>
    <button  class="btn btn-lg btn-primary btn-block"  data-target="#myModal" type="submit" id="btnreturn">
        写文章
    </button>
</body>
 <script src="/static/js/jquery.js"></script>
  <script src="/static/bin/bootstrap/js/bootstrap.min.js"></script>
</html>
<script>
    var get;
    var getdate;
    var article;
    var btnreturn;
    var getname;
    init();
    function init(){
        getname=JSON.parse(localStorage.getItem("loginmsg")).na;
        console.log(getname)
        get=localStorage.getItem("content");
        article=document.getElementById("article");
        btnreturn=document.getElementById("btnreturn");
        getdate=JSON.parse(get);
             world()
    }
    {#拼接字符串#}
    function world(){
        var th='';

        if(get!==null){
            for(var i=0;i<getdate.length;i++){
                console.log(getname,getdate[i].author);
                if (getname===getdate[i].author){
                    for(var j=0;j<getdate[i].article.length;j++){
                        var author="<td>"+getdate[i].author+"</td>";
                        var title="<td>"+"<a href='/article/details?id="+i+'&'+j+"'>"+getdate[i].article[j].title+"</a>"+"</td>";
                        var time="<td>"+getdate[i].article[j].time+"</td>";
                        th="<tr>"+title+author+time+"</tr>";
                         article.innerHTML+=th;
                    }
                }
            }
        }
    }
    btnreturn.onclick=function(){
        location.href="http://127.0.0.1:8000/article/write"
    }
</script>